
header {
    margin: 15px 10px 0px 10px;
}

main {
    margin: 10px 10px 10px 10px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px 15px 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: url(../images/dark_embroidery.png)
}

#title {
    font-size: 28px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 35px 0px 35px 0px;
    text-align: center;
    border: solid 2px white;
}

#instructions {
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 20px 15px 20px 15px;
    text-align: center;
    border: solid 2px white;
}

.guessContainer {
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 200px;
    width: 200px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    overflow: hidden;
}

.winLossContainer {
    border: solid 2px white;
    height: 200px;
    width: 250px;
    float: right;
    margin-right: 10px;
}

#crystalsContainer {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 0px 10px 0px 10px;
}

.crystal1 {
    float: left;
    margin: 0px 75px 0px 75px;
}

.crystal2 {
    float: left;
    margin: 0px 75px 0px 75px;
}

.crystal3 {
    float: left;
    margin: 0px 75px 0px 75px;
}

.crystal4 {
    float: left;
    margin: 0px 75px 0px 75px;
}

footer {
    margin: 25px 10px 10px 10px;
    border: solid 2px white;
    padding: 10px 0px 10px 0px;
}

